body{
    background-color: rgb(255, 255, 255);
    
}

.Profile-Picture{

    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 5%;
    height: auto;
    max-width: 250px;
    
    border-radius: 15%;

}

.Profile-Name{
    text-align: center;

    padding: 30px;
    font-size: x-large;


}
.Info{
    text-align: center;
 
    font-size: 15px;
    font-style: inherit


}

.links{
    text-align: center;
    margin-top: 20px;
    border: 5px solid burlywood;
    border-width: 100%;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    
    font-size: 20px;
    padding: 10px;
}
a{
    text-decoration: none;
    color: rgb(253, 152, 0);
    transition: color 0.5s ;
}
a:hover{
    color: rgb(255, 217, 134);
   background-color: white;
}
body{
    background-color: white;
    font-family:"Open Sans",sans-serif ;
    letter-spacing: 1px;
}